# Python artifacts and environments
__pycache__/
*.pyc
.venv/
.pytest_cache/

# Local terraform directories
**/.terraform/*
**/.terraform/
.terraform/

# Globally match .tfstate and plan files anywhere in subdirectories
**/*.tfstate
**/*.tfstate.*
*tfplan*

# Crash logs
crash.log
crash.*.log

# Exclude sensitive variable files
*.tfvars
*.tfvars.json

# Exclude local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Environment files
.env
.env.*
!.env.example

# OS and common IDEs
.DS_Store
.vscode/
.idea/
