##########################################
# Flask
##########################################

FLASK_DEBUG=False
SECRET_KEY=change-me

APP_NAME=Secure EKS Platform
APP_ENV=production
APP_VERSION=v1.0.0

##########################################
# Database
##########################################

DB_HOST=localhost
DB_PORT=5432
DB_NAME=flaskdb
DB_USERNAME=postgres
DB_PASSWORD=password

##########################################
# Kubernetes
##########################################

CLUSTER_NAME=secure-eks-cluster
AWS_REGION=ap-south-1
NODE_NAME=node-01
